* {
	border: none;
	border-radius: 10px;
  font-family: "SauceCodePro Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
  color: #fdfdff;
  background: #2a2c37;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	min-width: 0;
	background: #15161b;
	transition: none;
}

#tags button {
	min-width: 50px;
	transition: none;
	color: #c4c4c6;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #9a4da0;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #18389c;
    border-top: 2px solid #18389c;
    border-bottom: 2px solid #18389c;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #fdfdff;
    border-color: #fdfdff;
    color: #fdfdff;
}

#tags button.focused:hover {
    color: #fdfdff;
}

#tags button.urgent {
        border-top: 2px solid #fb4934;
        border-bottom: 2px solid #fb4934;
}

#workspaces {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 5px;
	margin-bottom: 0px;
	padding-right: 5px;
	border-radius: 10px;
	background: #3c5ebb;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #fdfdff;
	background: transparent;
	border-radius: 2px;
}

#workspaces button.active {
	color: #18389c;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #fdfdff;
}

#workspaces button.focused:hover {
    color: #fdfdff;
}

#workspaces button.urgent {
        border-top: 2px solid #fb4934;
        border-bottom: 2px solid #fb4934;
}

.modules-left > widget:first-child > #workspaces {
        margin-left: 0;
}

.modules-right > widget:first-child > #workspaces {
        margin-right: 0;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #9a4da0;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #1a2f71;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #6f4572;
}

#battery.charging, #battery.plugged {
	color: #fdfdff;
    background-color: #6f4572;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #6f4572;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #9a4da0;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #6f4572;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #3c5ebb;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #18389c;
    background: #2a2c37;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	/* padding-right: 5px; */
        padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #18389c;
	background: #2a2c37;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #3c5ebb;
}
#custom-mpc {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #fdfdff;
	background: #1a2f71;
}
